.page-sidebar .search-input {
    margin-bottom: 0;
}
.page-wrapper {
    overflow: hidden;
    background: #f1f1f1;
    padding: 0 10px;
}
.smartGridScroll table td, .smartGridScroll table th {
    padding: 5px 10px;
}
.m-logo {
    background-image: url(https://sso.myntrainfo.com/unityuser/static/img/myntra-logo-3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
pre.lowlight {
    background: transparent;
    border: none;
}
.code-preview {
    background: #fff;
    padding: 10px;
    position: relative;
    min-height: 60px;
}
.code-preview .page-header {
    position: absolute !important;
    top: 0;
}
.code-block {
    padding-bottom: 20px;
}
.view-code {
    color: #371;
    padding: 5px;
    cursor: pointer;
}
.page-content {
    padding-left: 0;
    padding-right: 0;
}
.Select-clear-zone {
    display: none;
}
.version-select .errorContainer {
    display: none;
}